*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: auto;
}

.board{
    z-index: -1;
}

[data-cell]{
    background-color: red;
    border: 1px solid white;
    font-size: 5em;
    height: auto;
}

.overlay{
    width:100vw;
    height:100vh;
    background-color: aqua;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.chooseplayer{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 5vw;
}

.player{
    display: grid;
    align-items: center;
    justify-content: center;   
}
.head{
    grid-column: 1 / span 2;
}


